<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third px-5">
                <div class="block pb-5">
                    <h5 class="title is-5">Hours of Operation</h5>
                    <ul>
                        <li class="has-text-warning">Lat opening at 2pm on Sat, June 10</li> 
                        <li>Mon: Closed</li>
                        <li>Tues-Fri: 2 PM - 8 PM</li>
                        <li>Sat-Sun: 12 PM - 8 PM</li>
                    </ul>
                </div>
                <h5 class="title is-5">Contact Us</h5>
                <ul>
                    <li><a href='https://www.google.com/maps/place/{{ config.extra.address | replace(from=" ", to="+") | safe }}'>{{ config.extra.address }}</a></li>
                    <li><a href="#" class="email-link"
                        data-email="{{ config.extra.contact_email | base64_encode }}"
                        data-email-html="{{ config.extra.contact_email_html | base64_encode }}"
                    >placeholder@example.com</a></li>
                </ul>
            </div>
            <div class="column is-one-third has-text-centered px-5">
                <nav>
                    {% for item in config.extra.footer_nav %}
                    <div class="pb-2 is-size-5"><a href='{{ item.link | default(value="/comingsoon") | safe }}'>{{
                            item.text }}</a>
            </div>
            {% endfor %}
            </nav>
        </div>
        <div class="column is-one-third px-5">
            <h5 class="title is-5">About Us</h5>
            <p class="block">Crea is a place where you can make your ideas come to life.
                We provide shared access to a collaborative space and equipment.
                We also provide equipment training and other classes and events.</p>
            <h5 class="title is-5 pt-5">Subscribe</h5>
            <p class="block">For email updates, subscribe to our newsletter:</p>
            <script>

            </script>
            <form name="sibform" method="post" target="iframe">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="EMAIL" data-required="true" placeholder="Email">
                                <input type="text" name="email_address_check" value="" class="is-hidden">
                                <input type="hidden" name="locale" value="en">
                                <input type="hidden" name="html_type" value="simple">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-link is-danger" form="sib-form" onclick="submitForm(event)">Subscribe</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <p class="block is-hidden" id="form-submitted">Thanks! We're glad that you want updates!</p>
            <iframe name="iframe" class="is-hidden"></iframe>
            <script>
                function submitForm(event) {
                    // we set the action in JS to make it slightly harder for bots
                    document.sibform.action = "https://000a4b3c.sibforms.com/serve/MUIEAFNX5KBJVY5bcgEBDAUJRB4w9Y91GvT4PyYcJI2q9JkjjjsLyd8Q031gGVQdcOaY5lqYM9tbHoAaPugkFAH4DcQHLE8_IN86qR3j3cPv2Cxr1bIED_tu8jy3gJ5wjLfob5KNnfkVj8Gqii8bE3WdK-xGUiEaf1NKaiq7R-PwI6yzEDS9iw_95WxTUYgxzzJMdsGT1xF9KV8b";
                    document.sibform.submit();
                    document.sibform.classList.add("is-hidden");
                    document.getElementById('form-submitted').classList.remove("is-hidden");
                }
            </script>
        </div>
    </div>
    </div>
</footer>
<div class="layer copyright py-3">
    <div class="container level">
        <div class="level-left">
            {% if config.extra.copyright %}
            &copy; {{ config.extra.copyright }} {{ now() | date(format="%Y") }}
            {% endif %}
        </div>
        <div class="level-right">
            {% set social = config.extra.social %}
            {% if social.instagram %}
            <a class="link" href="{{ social.instagram | safe }}">
                <span class="icon">
                    <i class="fa-brands fa-instagram"></i>
                </span>
            </a>
            {% endif %}
            {% if social.facebook %}
            <a class="link" href="{{ social.facebook | safe }}">
                <span class="icon">
                    <i class="fa-brands fa-facebook-f"></i>
                </span>
            </a>
            {% endif %}
            {% if social.discourse %}
            <a class="link" href="{{ social.discourse | safe }}">
                <span class="icon">
                    <i class="fa-brands fa-discourse"></i>
                </span>
            </a>
            {% endif %}
        </div>

    </div>
</div>