<div class="level is-dark" id="connect-nav">
    <div class="container">
        <div class="level-right">
            <p class="level-item has-text-centered px-5">
                <a class="link icon-text">
                    <span class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    <span>{{ config.extra.address }}</span>
                </a>
            </p>
            <p class="level-item has-text-centered">
                {% set social = config.extra.social %}
                {% if social.instagram %}
                <a class="link" href="{{ social.instagram | safe }}">
                    <span class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </a>
                {% endif %}
                {% if social.facebook %}
                <a class="link" href="{{ social.facebook | safe }}">
                    <span class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </span>
                </a>
                {% endif %}
                {% if social.linkedin %}
                <a class="link" href="{{ social.linkedin | safe }}">
                    <span class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </span>
                </a>
                {% endif %}
                {% if social.discourse %}
                <a class="link" href="{{ social.discourse | safe }}">
                    <span class="icon">
                        <i class="fa-brands fa-discourse"></i>
                    </span>
                </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ config.extra.logo | safe }}" alt="Logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu pt-5 pb-2">
            <div class="navbar-end">
                {% for item in config.extra.nav | slice(end=3) %}
                <a href="{{ item.link | safe }}" class="navbar-item">{{ item.text }}</a>
                {% endfor %}

                {% set nav_length = config.extra.nav | length %}
                {% if nav_length > 3 %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless is-hidden-touch">
                      <i class="fa-solid fa-bars"></i>
                    </a>
                    <a class="navbar-link is-hidden-desktop">
                        More
                    </a>
                      
                    <div class="navbar-dropdown is-right">
                        {% for item in config.extra.nav | slice(start=3) %}
                          <a href="{{ item.link | safe }}" class="navbar-item">{{ item.text }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>