{% import "macros/macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% set banner = page.extra.banner | default(value=false) %}
{{ macros::banner(img=banner) }}

    <div class="section">
        <div class="container">
            <div class="columns is-reversed-mobile is-reversed-print">
                <div class="column is-two-thirds full-width-print">
                    <div class="content">
                        {{ page.content | safe }}
                    </div>
                </div>
                <div class="column is-one-third full-width-print is-size-4">
                    <div><img src="{{page.extra.image}}"></div>

                    {% if page.extra.details %}
                    <dl class="py-5">
                        {% for key, value  in page.extra.details %}
                        <dt>{{ key }}</dt>
                        <dl>{{ value }}</dl>
                        {% endfor %}
                    </dl>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}