
{% extends "base.html" %}
{% import "macros/experiences.html" as experiences %}
{% import "macros/section.html" as section %}

{% block content %}
<section class="hero has-overlay is-medium is-bold is-halfheight" id="hero-landing">
        <div class="hero-head"></div>
        <div class="hero-body">
        </div>
        <div class="hero-foot p-5">
            <div class="container">
                <h1 class="title">
                    {{ section.extra.hero.header }}
                </h1>
                <h2 class="subtitle">
                    {{ section.extra.hero.text }}
                </h2>
                <div>
                    <a href="{{ section.extra.hero.link | safe }}" class="cta button is-primary is-rounded">
                        <span class="has-text-weight-bold">{{ section.extra.hero.link_text }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% if section.extra.announcement %}
    <div class="announce p-2">
        <p class="has-text-centered">
            {{ section.extra.announcement }}
        </p>
    </div>
    {% endif %}


    <section class="container section">
        {{ experiences::list(experiences=section.extra.experiences) }}
    </section>

    <section class="hero is-dark p-6">

        {% set blog = get_section(path="blog/_index.md") %}
        <div class="hero-head has-text-centered">
            <h3 class="title is-3">{{ section.extra.blog_header | default(value=blog.title) }}</h3>
        </div>
        <div class="hero-body" id="blog-highlights">
            <div class="container">
                <div class="columns">
                    {%- for post in blog.pages | slice(end=3) %}
                    <div class="column is-one-third">
                        {{ section::page(page=post) }}
                    </div>
                    {% endfor -%}
                </div>
            </div>
        </div>
        <div class="hero-foot has-text-centered">
            <a href="{{ config.extra.newsletter_link | safe }}" class="cta button is-warning is-rounded">
                <span class="has-text-weight-bold">Get the Newsletter</span>
            </a>

        </div>
    </section>

    <!-- <section class="p-6 has-text-centered">
        <h3 class="title is-3">Want to learn more?</h3>
        <div class="content">
            <p>Sometimes it's best to see things in person.</p>
            <p>Let us walk you through the space and answer any questions.</p>
            <p>It's free. We'll keep it short (15-20 min).</p>
            <p>And we won't pressure you into any purchase.</p>
        </div>
        <p>
            <button class="cta button is-small is-primary is-rounded">Schedule a tour</button>
        </p>
    </section> -->

    <section class="p-6 has-text-centered">
        <h3 class="title is-3">Launch Update</h3>
        <div class="content">
            <p><a href="/blog/2023/crea-has-a-location/">We finally have keys.</a></p>            
            <p>We have much of the major equipment in place. We're expecting to have the space basically usable by end of April, then work through some safety inspections and prepare for a launch!</p>
            <p>Grand opening date is TBD, but we still expect it to be in May.</p>
            <p>Last Updated: April 21, 2023</p>
            <p>Send us a note if you're interested in more details:
                <a href="#" class="email-link"
                data-email="{{ config.extra.contact_email | base64_encode }}"
                data-email-html="{{ config.extra.contact_email_html | base64_encode }}"
            >placeholder@example.com</a>
            </p>
        </div>
    </section>

{% endblock content %}
