{% import "macros/macros.html" as macros %}

{% extends "base.html" %}
{% block content %}

{% set banner = page.extra.banner | default(value=false) %}
{{ macros::banner(img=banner) }}

<div class="section">
    <div class="container">
        <article class='message is-danger'>
            <div class="message-header">Makerspace Closing</div>
            <div class="message-body">
                The last day of operations is June 2. See our <a href="/blog/2024/farewell">Farewell post</a> for details.
            </div>
        </article>
    </div>
</div>

<div class="section">
    <div class="container content">
        {{ page.content | safe }}
    </div>
</div>
{% endblock content %}