{% import "macros/section.html" as section %}
{% import "macros/macros.html" as macros %}

{% extends "base.html" %}

{% block content %}

{% set banner = page.extra.banner | default(value=false) %}
{{ macros::banner(img=banner, format='post') }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="block has-text-right">
                </div>
                <div class="content">
                    {{ page.content | safe }}
                </div>
            </div>
            <div class="column is-one-third">
                {% set blog = get_section(path="blog/_index.md") %}
                {%- for post in blog.pages | slice(end=3) %}
                {% if post.permalink != page.permalink %}
                <div class="block">
                    {{ section::page(page=post) }}
                </div>
                {% endif %}
                {% endfor -%}
            </div>
        </div>
    </div>
</div>

{% endblock content %}