{% import "macros/section.html" as section %}
{% import "macros/macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% set banner = section.extra.banner | default(value=false) %}
{{ macros::banner(img=banner) }}

{% if section.content %}
<div class="section">
    <div class="container content">
        {{ section.content | safe }}
    </div>
</div>
{% endif %}

<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% if paginator %}
            {% set pages  = paginator.pages %}
            {% else %}
            {% set pages  = section.pages %}
            {% endif %}
            {% for page in pages %}
            <div class="column is-one-third">
                {% if section.path is starting_with("/equipment") %}
                {{ section::equipment(page=page) }}
                {% else %}
                {{ section::page(page=page) }}
                {% endif %}
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


{% if paginator %}
<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>
{% endif %}