// Responsive helpers to reverse flex column order
@include mobile {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media print {
  .columns.is-reversed-print {
    flex-direction: column-reverse;
    display: flex;
  }
}

// Helper to apply a filter overlay on an image
.has-filter {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: darken($goldenrod, 45);
    opacity: 0.8;
  }
}

.hero.is-dark {
  .title {
    color: $goldenrod;
  }
}

.hero .title {
  text-transform: uppercase;
}

.button.cta {
  text-transform: uppercase;
  font-weight: bold;
  ;
}


dt {
  float: left;
  clear: left;
  margin-right: 10px;
  font-weight: bold;
  color: $magenta;
}

dt::after {
  content: ":";
}

// Fix hashtag linking
@include desktop {

  h1,
  h2,
  h3,
  h4 {
    &:before {
      display: block;
      content: " ";
      margin-top: -116px; // 24 top nav, 72 main nav, 20 padding
      height: 116px;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

@media print {
  .no-print {
    display: none;
  }

  .section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .column.full-width-print {
    width: 100%;

    img {
      max-width: 67%;
    }
  }

  .hero-foot {
    padding: 0px !important;
  }

}

@media screen {
  #qrcode {
    display: none;
  }
}

@media print {
  #qrcode {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  // Prevent title from intersecting qrcode
  .title {
    max-width: 600px;
  }  
}


@include desktop {
  @media screen {
    .toc {
      position: sticky;
      top: 110px;
    }
  }
}


// corner ribbons

.cr {
  width: 140px;
  padding: 8px;
  font-size: $size-small;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
}

.cr-sticky {
  position: fixed;
}

/* Positions */

.cr-top    { top: 20px; }
.cr-bottom { bottom: 20px; }
.cr-left   { left: -32px; }
.cr-right  { right: -32px; }

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

/* Colors */
.cr-light     { background-color: $white; color: $onyx; }
.cr-dark     { background-color: $onyx; }
.cr-info      { background-color: $sapphire; }
.cr-warning       { background-color: $goldenrod; }
.cr-danger    { background-color: $magenta; }
